<v-col v-show="shouldShow">
  <v-row class="ma-0 align-center" style="position: relative;">
    <v-switch
      class="py-0 mt-0"
      :label="label"
      :hint="help"
      v-model="model"
      @change="validate"
      dense
      hide-details
      :disabled="disabled || !decorator.enable"
      :readonly="readonly"
    />
    <v-spacer />
    <v-btn
      v-if="help"
      icon
      x-small
      style="position: absolute; right: 0;"
      @click="showHelp = !showHelp"
    >
      <v-icon small>mdi-lifebuoy</v-icon>
    </v-btn>
  </v-row>
  <v-row v-if="help && showHelp" class="ma-0 text-caption text--secondary">
    {{ help }}
  </v-row>
</v-col>
