<v-col v-show="shouldShow">
  <v-row class="ma-0 align-center" style="position: relative;">
    <v-switch
      class="py-0 mt-0"
      :label="label"
      :hint="help"
      v-model="model"
      @update:modelValue="validate"
      density="compact"
      hide-details
      :disabled="disabled || !decorator.enable"
      :readonly="readonly"
    />
    <v-spacer />
    <v-btn
      v-if="help"
      icon="mdi-lifebuoy"
      size="x-small"
      style="position: absolute; right: 0;"
      @click="showHelp = !showHelp"
    />
  </v-row>
  <v-row v-if="help && showHelp" class="ma-0 text-caption text--secondary">
    {{ help }}
  </v-row>
</v-col>
